.ThemaButton {
  width: 200px;
  height: 74px;
  font-family: "Knewave";
  font-size: 40px;
  color: white;
  background: #4267b2;
  background-color: #4267b2;
  border: 500px;
  border-radius: 50%;
}
