.App {
  text-align: center;
  background-color: #4267b2;
  width: 100%;
  height: 100vh;
}

@font-face {
  font-family: "Knewave";
  src: url("./fonts/KnewaveRegular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Medium.ttf");
}
